.form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}
.form__label {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
}
.form__input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0 5px 5px 0;
  outline: 0;
  border: 0;
}

@media (min-width: 375px) {
  .form__label {
    width: 75%;
  }
  .form__input {
    padding: 1rem;
  }
}
