.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  align-items: center;
}

.header__title {
  color: #fff;
}

@media (min-width: 375px) {
  .header {
    width: 75%;
  }
}
